<!DOCTYPE html>
<html>
<head>
    <title>Prediction Form</title>
</head>
<body>
    <h1>Enter Data for Prediction</h1>
    <form action="/predict" method="POST">
        <label for="dtbhk_truoc">dtbhk_truoc:</label>
        <input type="text" name="dtbhk_truoc" required><br>
        <label for="drltl">drltl:</label>
        <input type="text" name="drltl" required><br>
        <label for="sotchk">sotchk:</label>
        <input type="text" name="sotchk" required><br>
        <label for="namhoc">namhoc:</label>
        <input type="text" name="namhoc" required><br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
